<div class="sticky-top pt-3" style="z-index: 900;">
    <div class="accordion accordion-flush" id="propertiesPanel">
        <div class="d-grid text-center mb-3">
            <a href="{{ path('user_project_annotations', {id: project.id}) }}"
               class="btn btn-primary">
                <i class="bi-tag me-2"></i>Annotations
            </a>
        </div>

        {#
        <div class="accordion-item">
            <h5 class="accordion-header" id="propertiesPanel_lexicon_header">
                <button class="accordion-button collapsed fw-bold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#propertiesPanel_lexicon_content"
                        aria-expanded="true"
                        aria-controls="propertiesPanel_lexicon_content">
                    Lexique
                </button>
            </h5>
            <div id="propertiesPanel_lexicon_content"
                 class="accordion-collapse collapse"
                 aria-labelledby="propertiesPanel_lexicon_header">
                <div class="accordion-body px-0">
                    <a href="{{ path('user_project_lexicon', {id: project.id}) }}"
                       class="btn btn-sm btn-primary text-nowrap">
                        <i class="bi-magic me-2"></i>Analyser maintenant
                    </a>
                </div>
            </div>
        </div>
        #}

        <div class="accordion-item">
            <h5 class="accordion-header" id="propertiesPanel_tags_header">
                <button class="accordion-button fw-bold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#propertiesPanel_tags_content"
                        aria-expanded="true"
                        aria-controls="propertiesPanel_tags_content">
                    Tags
                </button>
            </h5>
            <div id="propertiesPanel_tags_content"
                 class="accordion-collapse collapse show"
                 aria-labelledby="propertiesPanel_tags_header">
                <div class="accordion-body px-1">
                    {% include 'project/_partials/tag-tree.html.twig' with {
                        project: project,
                        tagTree: tagTree,
                        canEdit: canEdit
                    } only %}
                </div>
            </div>
        </div>
    </div>
</div>