<h1 style="font-family: sans-serif">My Doc Intelligence</h1>

<p style="font-family: sans-serif">Merci d'avoir créé votre compte sur My Doc Intelligence</p>

<p style="font-family: sans-serif">Vous pouvez confirmer votre adresse e-mail en cliquant sur le lien suivant :</p>

<div>
    <a href="{{ signedUrl }}" style="font-family: sans-serif">Confirmer mon adresse</a>
</div>

<p style="font-family: sans-serif">Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p style="font-family: sans-serif">À bientôt sur My Doc Intelligence</p>