{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title("Réinitialisation du mot de passe") }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
    <h1 class="my-4">Réinitialiser votre mot de passe</h1>

    <p>
        Si votre compte a été retrouvé, un e-mail vient de vous être envoyé,
        il contient un lien que vous pourrez utiliser pour redéfinir votre mot de passe.
    </p>
    <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
    <p>Si vous ne recevez pas cet e-mail, vérifiez votre courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
    </div>
</div>
{% endblock %}
