<h1 style="font-family: sans-serif">My Doc Intelligence</h1>

<p style="font-family: sans-serif">Pour définir votre mot de passe, merci de visiter le lien suivant :</p>

<a style="font-family: sans-serif" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p style="font-family: sans-serif">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p style="font-family: sans-serif">À bientôt sur My Doc Intelligence</p>
