{% import 'macros.html.twig' as macro %}

<div class="modal fade"
     id="selectionToolsModal"
     data-bs-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="selectionToolsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg shadow">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="fw-bold m-0" id="selectionToolsModalLabel">Liens et annotations</h5>
            </div>
            <div class="modal-body">
                {% if document.id %}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="selectionToolsAnnotationsLabel"
                                data-bs-toggle="tab"
                                data-bs-target="#selectionToolsAnnotations"
                                type="button"
                                role="tab"
                                aria-controls="home"
                                aria-selected="true">Annotation</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="selectionToolsLinksLabel"
                                data-bs-toggle="tab"
                                data-bs-target="#selectionToolsLinks"
                                type="button"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false">Lien vers document</button>
                    </li>
                </ul>
                <div class="px-1 py-3">
                    <div class="tab-content" id="selectionToolsTabs">
                        <div class="tab-pane fade show active"
                             id="selectionToolsAnnotations"
                             role="tabpanel"
                             aria-labelledby="selectionToolsAnnotationsLabel">
                            <form id="annotateForm"
                                  method="post"
                                  action="{{ path('user_tag_document', {id: document.id ?? 0}) }}">
                                <div class="mb-3">
                                    <label for="annotationSelection" class="visually-hidden mb-2">Sélection</label>
                                    <textarea id="annotationSelection"
                                              name="selection"
                                              class="form-control citation bg-white shadow-none"
                                              rows="5"
                                              readonly="readonly"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="annotationComment" class="mb-2">Commentaire</label>
                                    <textarea id="annotationComment" class="form-control" name="comment"></textarea>
                                </div>

                                <div>
                                    <label for="annotationTag" class="mb-2">Tag associé</label>
                                </div>

                                <div class="row g-1">
                                    <div class="col">
                                        {{ macro.tag_select(tagTree, 'annotationTag') }}
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" id="submitAnnotation" name="action" value="tag-document" class="btn btn-primary">
                                            <i class="bi-tag me-1"></i>Annoter
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade"
                             id="selectionToolsLinks"
                             role="tabpanel"
                             aria-labelledby="selectionToolsLinksLabel">

                            <div class="mb-3">
                            <label for="linkSelection" class="visually-hidden mb-2">Sélection</label>
                            <textarea id="linkSelection"
                                      name="selection"
                                      class="form-control citation bg-white shadow-none"
                                      rows="5"
                                      readonly="readonly"></textarea>
                            </div>

                            {% include 'document/_partials/document-search-form.html.twig' with {
                                document: document,
                                search: search,
                            } only %}

                            {% include 'document/_partials/documents.html.twig' with {
                                source: document,
                                documents: documents,
                            } only %}
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="alert alert-danger">Vous devez enregistrer le document avant de créer
                    des liens ou des annotations</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>