<div id="confirmDeleteModal"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="confirmDeleteModalLabel">Suppression du document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                {% if document is defined %}
                Êtes-vous certain de vouloir supprimer le document <b>{{ document.title }}</b> ?
                {% else %}
                <p class="alert alert-danger">Le document n'a pas été enregistré, il ne peut être supprimé.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <form action="{{ path('user_delete_document', {id: document.id ?? 0}) }}" method="post">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                    {% if document is defined %}<button type="submit" class="btn btn-danger">Supprimer</button>{% endif %}
                </form>
            </div>
        </div>
    </div>
</div>