<div class="modal fade"
     id="confirmInitMetaModal"
     data-bs-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="confirmInitMetaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog shadow">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="fw-bold m-0" id="confirmInitMetaModalLabel">Initialiser les méta-données</h5>
            </div>
            <div class="modal-body">
                Cette action va écraser les données non-sauvegardées. Souhaitez-vous continuer ?
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button"
                        class="btn btn-primary"
                        id="confirmInitMeta"
                        data-bs-dismiss="modal">
                    Continuer
                </button>
            </div>
        </div>
    </div>
</div>