<div class="modal fade"
     id="selectionToolsModal"
     data-bs-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="selectionToolsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg shadow">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="fw-bold m-0" id="selectionToolsModalLabel">Liens et annotations</h5>
            </div>
            <div class="modal-body">
                {% if document.id %}
                <form method="post" action="{{ path('user_tag_document', {id: document.id ?? 0}) }}">
                    <label for="annotationSelection" class="visually-hidden mb-2">Sélection</label>
                    <textarea id="annotationSelection"
                              name="selection"
                              class="form-control bg-white border-0 shadow-none"
                              rows="5"
                              readonly="readonly"></textarea>

                    <div class="my-4">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="selectionToolsAnnotationsLabel"
                                        data-bs-toggle="tab"
                                        data-bs-target="#selectionToolsAnnotations"
                                        type="button"
                                        role="tab"
                                        aria-controls="home"
                                        aria-selected="true">Annotation</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="selectionToolsLinksLabel"
                                        data-bs-toggle="tab"
                                        data-bs-target="#selectionToolsLinks"
                                        type="button"
                                        role="tab"
                                        aria-controls="profile"
                                        aria-selected="false">Lien vers document</button>
                            </li>
                        </ul>
                        <div class="px-1 py-3">
                            <div class="tab-content" id="selectionToolsTabs">
                            <div class="tab-pane fade show active"
                                 id="selectionToolsAnnotations"
                                 role="tabpanel"
                                 aria-labelledby="selectionToolsAnnotationsLabel">
                                <div class="row g-1">
                                    <div class="col">
                                        <select class="form-select" name="tag">
                                            {% for tag in document.project.tags %}
                                                <option value="{{ tag.id }}">
                                                    {% for i in range(0, tag.lvl*2) %}{{ "&nbsp;" }}{% endfor %}
                                                    {{ tag.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" name="action" value="tag-document" class="btn btn-primary"><i class="bi-tag me-1"></i>Annoter
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="selectionToolsLinks"
                                 role="tabpanel"
                                 aria-labelledby="selectionToolsLinksLabel">
                                {% include 'user/document/_partials/document-search-form.html.twig' with {
                                    search: search
                                } only %}

                                {% include 'user/document/_partials/documents.html.twig' with {
                                    source: document,
                                    documents: documents,
                                } only %}
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <p class="alert alert-danger">Vous devez enregistrer le document avant de créer
                    des liens ou des annotations</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                {#
                <button type="button"
                        class="btn btn-primary"
                        id="selectionTools"
                        data-bs-dismiss="modal">
                    Continuer
                </button>
                #}
            </div>
        </div>
    </div>
</div>