@import "custom_bootstrap";

.offcanvas {
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(2px);
}

#markdownPreview {
  min-height: 20vh;
  overflow-x: scroll;
  border: $border-width solid $border-color;
  border-top: 0;
  border-radius: $border-radius;
  font-family: serif;
  font-size: $font-size-base * 1.2;
}

.tag-tools {
  position: absolute;
  top: 0;
  right: -$spacer * .25;

  i {
    cursor: pointer;
  }
}