// Fonts
$font-family-base: 'Nunito', sans-serif;

// Colors
$primary: #68b09a;
$secondary: #808080;
$success: #8ec50f;
$info: #26b3cc;
$warning: #da9157;
$danger: #cb0303;
$light: #dcdcdc;
$dark: #282828;

$body-bg: #fefefe;
$body-color: #121212;

// Buttons
$btn-focus-width: .25rem;

// Enable/disable styles
$enable-rounded: true;
$enable-gradients: true;
