<div class="row g-2 mt-1 mb-4">
    {% if canEdit %}
        {#
        <div class="col-auto">
            <a href="{{ path('user_document_new', {id:project.id}) }}"
               role="button"
               class="btn btn-primary">
                <i class="bi-plus me-2"></i>Nouveau
            </a>
        </div>
        #}
        <div class="col-auto">
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#importDocumentModal">
                <i class="bi-folder-plus me-2"></i>Importer
            </button>
        </div>
        <div class="col-auto">
            <div class="btn-group">
                <button type="button"
                        id="selection_menu"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        disabled>
                    <i class="bi-files me-2"></i>Pour la sélection
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" type="button">
                            <i class="bi-download me-2"></i>Télécharger archive MD
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" type="button"
                           data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                            <i class="bi-trash me-2"></i>Supprimer les documents
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <form action="" method="get">
            <div class="row g-2">
                <div class="col">
                    <label for="document_search" class="visually-hidden">
                        Rechercher dans les documents
                    </label>
                    <input id="document_search"
                           type="search"
                           name="q"
                           placeholder="Rechercher..."
                           class="form-control"
                           value="{{ search }}"/>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi-search"></i>
                    </button>
                    <span class="badge rounded-circle bg-secondary"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#searchHelpModal">?</span>
                </div>
            </div>
        </form>
    </div>
</div>
