<div id="renameTagModal"
     class="modal fade tag-modal"
     tabindex="-1"
     aria-labelledby="renameTagModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="renameTagForm" action="{{ path('user_project_rename_tag', {id: project.id}) }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="renameTagModalLabel">Éditer le tag <span id="renameTag_name"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <input id="renameTag_id" type="hidden" name="id"/>
                    <div class="mb-3">
                        <label for="renameTag_newName" class="form-label">Nouveau nom</label>
                        <input id="renameTag_newName" type="text" name="name" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label for="renameTag_newDescription" class="form-label">Nouvelle description</label>
                        <textarea id="renameTag_newDescription" name="description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauver</button>
                </div>
            </form>
        </div>
    </div>
</div>