<div class="modal fade"
     id="exportDocumentModal"
     tabindex="-1"
     aria-labelledby="exportDocumentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exportDocumentModalLabel">Export de documents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <i class="bi-info-circle-fill me-1"></i>
                    Tous les documents de toutes les pages en cours seront inclus dans les exports.
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <form action="{{ path('download_gexf', {id: project.id}) }}" method="get">
                                <div class="card-header">
                                    <h5 class="card-title">GEXF</h5>
                                </div>
                                <div class="card-body">
                                    {#
                                    <div class="form-check mb-3">
                                        <input id="include_external_links" name="include_external_links" type="checkbox" class="form-check-input">
                                        <label for="include_external_links" class="form-check-label">Inclure les liens externes</label>
                                    </div>
                                    #}
                                    <button type="submit" class="btn btn-primary">Télécharger</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <form action="{{ path('download_csv', {id: project.id}) }}" method="get">
                                <div class="card-header">
                                    <h5 class="card-title">CSV</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-check mb-3">
                                        <input id="include_files" name="include_files" type="checkbox" class="form-check-input">
                                        <label for="include_files" class="form-check-label">Inclure les documents Markdown</label>
                                    </div>
                                    <button class="btn btn-primary">Télécharger</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
