<div class="modal fade"
     id="exportDocumentModal"
     tabindex="-1"
     aria-labelledby="exportDocumentModalLabel"
     aria-hidden="true">
    <form action="{{ path('download', {id: project.id}) }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exportDocumentModalLabel">Export de documents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Seuls les documents correspondant au filtre de recherche seront inclus dans les téléchargements.
                </div>

                <div class="row">
                    <div class="col">
                        <h5>GEXF</h5>

                        <form action="{{ path('download_gexf', {id: project.id}) }}">
                            <div class="form-check mb-3">
                                <input id="include_external_links" type="checkbox" class="form-check-input">
                                <label for="include_external_links" class="form-check-label">Inclure les liens externes</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Télécharger</button>
                        </form>
                    </div>

                    <div class="col">
                        <h5>CSV</h5>

                        <form action="{{ path('download_csv', {id: project.id}) }}">
                            <button class="btn btn-primary">Télécharger</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Exporter</button>
            </div>
        </div>
    </div>
    </form>
</div>
