{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title("Téléchargements " ~ project.name) }}{% endblock %}

{% block body %}
    <h1 class="mb-3">Téléchargements</h1>

    <h3 class="mb-3">GEXF</h3>

{% endblock %}